body{
    color:white;
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-color: rgb(0, 29, 90);
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
}
.navbar:hover{
    cursor: pointer;
}
.group {
    padding: 15px 0 0;
    display: flex;
    flex-direction: column-reverse;
}
.field {
    width: 16vw;
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}
.field::placeholder {
    color: transparent;
}

.label {
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
}
.field:focus {
    border-image: linear-gradient(to right, rgb(6, 44, 126), rgb(11, 51, 138));
    border-image-slice: 1;
}

.title{
    font-size: 40px;
}
.item{
    margin: 2vh 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box{
    width: 30px;
    height: 30px;
    margin-right: 2vw;
}
.word{
    font-size: 1.8rem;
}


.roww{
    display: flex;
    flex-direction: row;
}
.trash{
    width: 30px;
    height: 30px;
    margin-left: 1vw;
    margin-right: 1vw;
}
.edit{
    width: 30px;
    height: 30px;
    margin-right: 1vw;
}

.delete:hover {
    cursor: pointer;
  }

.list {
    background-color: rgb(30 26 68);
    color:white;
    margin-bottom: 10px;
}
.list:hover{
    cursor: pointer;
}


.list-item{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, .5);
    margin: 0 10px;
    padding: 2px 2px;
}
.list{
    padding-left: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lists{
    display: flex;
    flex-direction: row;

}

.hide{
    visibility: hidden;
}